#test {
    background-color: lightyellow;
}

body {
    background-color: beige;
}

main {
    width: 50%;
    position: absolute;
    left: 20%;
    right: 20%;
    margin: 50px;
    border: 1px solid grey;
    padding: 20px;
    background-color: white;
}

#unos_broja_button {
    position: absolute;
    left: 20px;
}

#novi_pokusaji_button {
    position: absolute;
    right: 20px;
}

.div_buttons {
    padding: 20px 0;
}

#statistic_div {
    border: 1px solid grey;
    padding: 0 30px;
}